<p>
  <b>Owner:</b>
  <%=h @project.owner.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>


<%= "#{link_to 'Edit', edit_project_path(@project)} | " if current_user.owns_project(@project.id) %>
<%= link_to 'Back', projects_path %>